.GlavniKontejner{
    display: flex;
    flex-direction: row;
}
.Forme{
    display: flex;
    flex-direction: row;
    max-height: 280px;
    min-height: 280px;
}
.Forma{
    max-width: 300px;
    min-width: 240px;
    width: 25%;
    margin: 20px;
    background-color: blanchedalmond;
}
.Pretraga{
    max-width: 350px;
    min-width: 300px;
    width: 30%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.divzaIme ,.divzaPrezime,.divzaMail,.FormaDivzaClanarinu ,.FormaDivzaTrenera ,.divzaTermin{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}
.inputIme , .inputPrezime ,.inputEmail ,.FormaselectClanarina , .FormaselectTrener ,.inputzaTermin{
    display: flex;
    max-width: 150px;
    width: 65%;
    height:fit-content;
    text-align: left;
}
.labelIme , .labelPrezime , .labelEmail , .labelClanarina , .labelTrener , .labelTermin{

    display: flex;
    text-align: left;
    width: 35%;
    min-width: 50px;
}

.labelSaznajVise{
    text-align: center;
    font-size: 25;
    font-weight: bold;
    width: 100%;
}
table ,tr ,th ,td{
    border: 1px solid black;
    
}
table{
    border-collapse: collapse;
    background-color: blanchedalmond;
    margin: 20px;
}
body{
    background: url("teretanapozadina.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%,100%;
}
.divzaClanarinu , .divzaTrenera{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}
.selectClanarina , .selectTrener{
    display: flex;
    max-width: 160px;
    width: 65%;
    height:fit-content;
    text-align: left;
}
.labelPretragaClanarina , .labelPretragaTrener{
    display: flex;
    text-align: left;
    width: 35%;
    min-width: 50px;
}
.btnPrikazClanova{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 35%;
}
.btnPretraga{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.btnUclani , .btnRezervisi, .btnPrikaziTermine{
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
}
.btnPrikaziTermine{
    margin-bottom: 5px;
}
.btnRezervisi{
    margin-bottom: 5px;
}
.divSaznajvise{
    text-align: center;
    font-size: 30;
}
.divTeretana{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 25%;
    max-width: 250px;
    min-width: 200px;
    width: 25%;
    margin: 20px;
    background-color: blanchedalmond;
}
.divzaTeretanu{
    height: 75%;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}
