.GlavniKontejner{
    display: flex;
    flex-direction: row;
}
.Forme{
    display: flex;
    flex-direction: row;
    max-height: 320px;
    min-height: 280px;
}
.Forma{

    min-width: 250px;
    width: 25%;
    margin: 20px;
    background-color: rgba(0,0,0 , 0.8);
    border: solid tomato 1px;
}
.Pretraga{
    max-width: 350px;
    min-width: 300px;
    width: 30%;
    background-color: rgba(0,0,0 , 0.8);
    display: flex;
    flex-direction: column;
    margin: 20px;
    border:  solid tomato 1px;
}
.divzaIme ,.divzaPrezime,.divzaMail,.FormaDivzaClanarinu ,.FormaDivzaTrenera ,.divzaTermin, .divzaNoviTermin{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}
.inputIme , .inputPrezime ,.inputEmail ,.FormaselectClanarina , .FormaselectTrener ,.inputTermin, .inputNoviTermin{
    display: flex;
    max-width: 150px;
    width: 65%;
    height:fit-content;
    text-align: left;
    color: whitesmoke;
    background-color: gray;
}
.labelIme , .labelPrezime , .labelEmail , .labelClanarina , .labelTrener , .labelTermin,.labelNoviTermin,.labelTeretana{

    display: flex;
    text-align:left;
    width: 35%;
    min-width: 50px;
    text-decoration: whitesmoke;
    text-decoration-color: thistle;
    font-weight: bold;
}

.labelSaznajVise{
    text-align: center;
    font-size: 25;
    font-weight: bold;
    width: 100%;
}
table ,tr ,th ,td{
    border: 1px solid tomato
    
}
table{
    border-collapse: collapse;
    background-color: rgba(0,0,0 , 0.8);
    margin: 20px;
}
body{
    background: url("teretanapozadina.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%,100%;
    color: thistle;
}
.divzaClanarinu , .divzaTrenera{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}
.selectClanarina , .selectTrener{
    display: flex;
    max-width: 160px;
    width: 65%;
    height:fit-content;
    text-align: left;
    color: whitesmoke;
    background-color: gray;
}
.labelPretragaClanarina , .labelPretragaTrener{
    display: flex;
    text-align: left;
    width: 35%;
    min-width: 50px;
}
.btnPrikazClanova{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 35%;
}
.btnPretraga{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.btnUclani , .btnRezervisi, .btnPrikaziTermine{
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
}
.btnUclani, .btnIspisi{
    width: 45%;
}
.btnPrikaziTermine{
    margin-bottom: 5px;
}
.btnRezervisi{
    margin-bottom: 5px;
}
.divSaznajvise{
    text-align: center;
    font-size: 30;
}
.divTeretana{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60%;
    max-width: 270px;
    min-width: 240px;
    width: 25%;
    margin: 20px;
    background-color: rgba(0,0,0 , 0.8);
    border: solid tomato 1px;
}
.divzaTeretanu{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px;
}
.btnPrikazi,.btnUclani,.btnRezervisi,.btnIzmeni,.btnPrikazClanova ,.btnPrikaziTermine,.btnPretraga,.btnIspisi{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .btnIzmeni,.btnRezervisi{
      width: 45%;
  }
  
  .btnPrikazi ,.btnUclani, .btnRezervisi,.btnIzmeni,.btnPrikazClanova ,.btnPrikaziTermine,.btnPretraga span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .selectTeretana{
    color: whitesmoke;
    background-color: gray; 
  }
  .btnPrikazClanova{
      margin-top: 10px;
  }
  
